.App{
    margin: 2rem auto;
    width: 50%;
}

.title{
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    padding: 1rem;
    border-radius: 0.2rem;
    width: 20rem;
    margin-right: 0.5rem;
}

button{
    padding: 1rem;
    cursor: pointer;
    background: rgb(0, 115, 255);
    color: #fff;
    border-radius: 0.2rem;
    border: none;
}

.task{
    width: 440px;
    margin-top: 1rem;
    border-bottom: 2px solid grey;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Delete{
    padding: 1rem;
    cursor: pointer;
    background: rgb(165, 6, 6);
    color: #fff;
    border-radius: 0.2rem;
    border: none;
}

.tick{
    cursor: pointer;
    width: 25px;
    padding: 0.3rem;
    cursor: pointer;
    background: rgb(36, 114, 8);
    color: #fff;
    border-radius: 0.2rem;
    border: none;
}

.untick{
    cursor: pointer;
    width: 25px;
    padding: 0.3rem;
    cursor: pointer;
    background: rgb(111, 111, 111);
    color: #fff;
    border-radius: 0.2rem;
    border: none;
}

.complete{
    text-decoration: line-through;
    color: rgb(174, 174, 174);
}

.taskName{
    color: #000;
    text-decoration: none;
}